/* 배경 색상 */
body {
  background-color: hsl(180, 50%, 80%);
  /* 이미지 반복 출력(background-image) */
  background-image: url(/src/assets/images/rabbit.png);
  /* 배경 이미지 반복 X */
  background-repeat: no-repeat;
  /* 배경 이미지 위치 (X,Y)*/
  background-position: 50% 0;
  /* body 요소의 최소 높이 지정 */
  min-height: 100vh;
  background-attachment: fixed;
  /* 배경이미지 크기 */
  /* background-size: cover; */
  /* background-size: contain; */
  background-size: 100px 130px;
  /* 단축 표기법으로 줄여서 선언 */
  background:
    url(/src/assets/images/cloud.png) no-repeat 0 100px fixed,
    url(/src/assets/images/sun.png) no-repeat 150px 50px /150px 150px fixed,
    linear-gradient(red, green),
    pink;
}
