.brand {
  padding: 0px;
  margin-top: 14px;
}
.logo {
  margin-left: 350px;
  margin-right: 173px;
}
img {
  width: 140px;
  height: 14px;
}
.list {
  display: inline-block;
  font-size: 0px;
  text-align: right;
  margin-right: 350px;
}
.name {
  display: inline-block;
  font-size: 15px;
  color: #24388d;
  text-decoration: none;
  margin: 8px;
  padding: 0px;
}
